



.layout__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 1; /*Esto hace que el main ocupe el espacio restante */ 

    position: relative;
    inset: 0;
    z-index: 30;
}



.main__title {
    font-size: 4rem;
    font-weight: 900;
    margin: 0;
    margin-top: 2rem;
}

.main__description {
    font-size: 1.8rem;
    font-weight: 400;
    margin: 0.2rem;
    text-align: center;
    margin-bottom: 6rem;
}

.main__crono, .main__timer{
    display: none;
    position: relative;
    inset: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 40rem;
    border-radius: 0.5rem;
    background-color: white;
    z-index: 40;
}



.crono__dates, .timer__date{
    display: flex;
    flex-direction: row;
    width: 30rem;
    margin-right: 22rem;
}

.dates__date{
    display: flex;
    flex-direction: column;

}

.dates__date .seconds__item,
.dates__date .minutes__item,
.point__item{
    font-size: 17rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: #21232F;
}


.point__item{
    font-size: 7rem;
    padding-top: 6rem;
}

.point__item-2{
    font-size: 7rem;
    padding-top: 9rem;
}

.miliseconds__item{
    font-size: 7rem;
    padding-top: 9rem;
    font-weight: 500;
}

.dates__name{
    font-size:1.3rem;
    color: #a8b9d0;
    font-weight: 400;
    text-align: center;
    margin-bottom: 2rem;
}

.crono__btns{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding-top: 2rem;
}


.crono__btn{
    border: none;
    outline: none;
    color: white;
    width: 15rem;
    height: 6rem;
    padding: 1.8rem;
    text-align: center;
    border-radius: 20rem;
    font-size: 1.8rem;
    cursor: pointer;
    box-shadow: none ;
    background-color:#F2C447 ;
}

.crono__btn:first-of-type {
    background-color: #43D688;
}

.crono__btn:last-of-type{
    background-color: #8495B6;
}

.crono__btn:nth-child(3) .fa-solid{
    margin-right: 0.4rem;
}



/*  Setting the pad (Vueltas)  */
.crono__lap{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    max-width: 40rem;
    min-height: 12rem;
    padding: 3rem;
}

.lap__titles{
    display: flex;
    flex-direction: row;
    gap: 20rem;

}


.lap__titles .lap__name{
    font-size: 2.6rem;
    font-weight: 700;
}

.lap__date{
    width: 100%;
    margin-top: 0rem ;
    display: flex;
    flex-direction: column;

    padding: 2rem 0 3rem 0;
}

.lap__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 2px solid #807373;
    padding: 2rem;
}



.lap__container:first-child{
    border-top: 2px solid #807373;
}

.date__lap-vuelta{
    font-size: 2.2rem;
    letter-spacing: 1px;
    font-weight: 500;
}

.date__lap-time{
    font-size: 2.4rem;
    font-weight: 600;
    letter-spacing: 1px;
}

.main__info{
    padding-top: 5rem;
    width: 60%;
    position: relative;
    inset: 0;
    z-index: 45;
}

.article__title{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: 2px;
    color: #21232F;
}

.info__article p {
    line-height: 3rem;
    font-size: 1.8rem;
    font-weight: 500;
    color: #21232F;
}

.info__article li {
    line-height: 3rem;
}




/* Setting to timer */

.timer__setting{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3rem ;
    margin-bottom: 6rem;
    flex-direction: column;
    gap: 2rem;
    position: relative;
    top: 6rem;
    width: 100%;
    opacity: 0.8;
    background-color: #F5F7FB;
    border-top:  3px solid #43D688;
    z-index: 20;
}

.setting__dates{
    display: flex;
    flex-direction: row;
    gap: 4rem;
}

.date__label{
    font-size:1.3rem ;
    font-weight: 500;
    color: #21232F;

}

.dates__select{
    width: 8rem;
    height: 5rem;
    text-align: center;
    border-radius: 1rem;
    border: none;
    outline: none;
    font-size: 2rem;
    margin-left: 0.3rem;
}

.setting__personalization{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    position: relative;
    inset: 0;
    z-index: 90;
    padding-bottom: 4rem }

.personalization__sound, .personalization__message{
    display: flex;
    flex-direction: row;
    gap: 15em;
}

.sound__bar{
    display: flex;
    gap: 2rem;
    align-items: center;
}

.message__input{
    margin-left: 1.4rem;
    min-width: 25rem;
}


.bar__name{
    font-size: 1.4rem;
    font-weight: bold;
}

.bar__scroll{
    width: 7rem;
    height: 3.1rem;
    background-color: #D4DAE7;
    border-radius: 30rem;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    cursor: pointer;
    transition: background-color 300ms ease-in-out;
}

.bar__scroll-active{
    background-color: #43D688;
}

.bar__scroll-inactive{
    background-color: #D4DAE7;
}


.bar__scroll input{
    opacity: 0;
    position: absolute;
}

.bar__scroll .bar__scrol-circle{
    width: 2.5rem;
    height: 2.5rem;
    background-color: white;
    border-radius: 100%;
    margin-left: 0.5rem;
    transition: transform 0.3s ease-in-out;
}


.bar__scroll input:checked ~ .bar__scrol-circle{
    transform: translateX(3.5rem);
}

.bar__scroll input:checked + .bar__scroll{
    background-color: #ccc;
}



.sound__type{
    display: flex;
    flex-direction: column;

}

.sound__type .sountContent__principal{
    width: 30rem;
    height: 3rem;
    padding: 1rem 2rem;
    font-size: 2.5rem;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.soundContent__selector{
    width: 70%;
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-radius: 0.2rem;

}


.soundContent__selector a{
    text-decoration: none;
    font-size: 2.5rem;
    color: black;
}


.soundType__content{
    display: none;
    flex-direction: column;
    gap: 2rem;
    justify-content: flex-start;
    width: 20.5rem;
    height: 12rem;
    overflow-y: auto;
    position: absolute;
    top: 4rem;
    right: 6.42rem;
    background-color: white;
    padding: 2.2rem;
    z-index: 500;
    transition: all 300ms linear;
}


.soundType__content::-webkit-scrollbar{
    width: 0.5rem;
}

.soundType__content::-webkit-scrollbar-thumb{
    background-color: #ccc;
    border-radius: 1rem;
    transition: all 300ms linear;
    cursor: pointer;
}

.soundType__content::-webkit-scrollbar-thumb:hover{
    background-color: #e4e4e4;
}

.selectSound__content{
    text-decoration: none;
    color: black;
    font-size: 2rem;
    min-width: 100%;
}

.selectSound__content:hover ~ .soundType__content


.selectSound__content:hover{
    background-color: #F7F9FD;
    min-width: 100%;
    
}





.message__input{
    border: none;
    outline: none;
    appearance: none;
    width: 22rem;
    min-height: 3.4rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    
    border-radius: 0.8rem;
}








